   @font-face {
       font-family: "Young Serif";
       src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
       font-weight: normal;
   }

   @font-face {
       font-family: "Outfit";
       src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
       font-weight: normal;
   }

   .page {
       max-width: 1600px;
       min-width: 1100px;
       margin: 0 auto;
       font-size: 16px;
       line-height: 20px;
       color: hsl(30, 10%, 34%);
       font-family: "Outfit";
       font-weight: 400;
   }

   .content {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content:center;
       padding: 70px;
       margin: 0 0 0 0;
       background-color: hsl(30, 54%, 90%);
   }

   .recipe__card {
       display: flex;
       flex-direction: column;
       justify-content: center;
       max-width: 700px;
       margin: 0 auto;
       padding: 30px;
       background-color: white;
       border-radius: 20px;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }

   .recipe__card-image {
       max-width: 700px;
       border-radius: 8px;
       margin-bottom: 25px;
       height: 300px;
       object-fit: cover;
       align-items: center;
   }

   .recipe__title {
       font-size: 40px;
       font-weight: 700;
       font-family: "Young Serif";
       margin: 16px 0 16px;
       color: hsl(24, 5%, 18%);
       text-align: left;

   }

   .recipe__info {
       color: hsl(14, 45%, 36%);
       font-family: "Young Serif";
       font-weight: 400;
   }

   .recipe__info-card {
       background-color: hsl(330, 100%, 98%);
       border-radius: 8px;
       line-height: 2;
       color: hsl(30, 10%, 34%);
       padding-left: 50px;
   }

   .recipe__info-card-title {
       font-size: 20px;
       font-weight: 600;
       margin: 16px 0;
       color: hsl(332, 51%, 32%);
       padding-left: 0px;
   }

   .bold {
       font-weight: bold;
   }

   .recipe__description {
       font-size: 16px;
       margin: 16px 0;
       color: hsl(30, 10%, 34%);
       line-height: 2;
   }

   .recipe__ingredients {
       font-size: 16px;
       color: hsl(30, 10%, 34%);
       border-bottom: 1px solid hsl(30, 18%, 87%);
   }

   .recipe__ingredients-list {
       padding-left: 30px;
       padding-bottom: 15px;
   }

   .recipe__instruction {
       font-size: 16px;
       margin: 16px 0;
       color: hsl(30, 10%, 34%);
       border-bottom: 1px solid hsl(30, 18%, 87%);
       padding-bottom: 15px;
   }

    .recipe__preparation-time::marker {
       color:  hsl(332, 51%, 32%);
    }

   .recipe__items::marker {
       color: hsl(14, 45%, 36%);
       line-height: 3;
      
   }

   .recipe__instructions::marker {
     color: hsl(14, 45%, 36%);
     line-height: 3;
   }

   .recipe__nutrition {
       font-size: 16px;
       margin: 16px 0;
       color:  hsl(30, 10%, 34%);
       list-style-type: none;
   }

   .table {
    display: flex;
    column-gap: 150px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
   }

   .table_border_none {
       border: none;
   }

   .table__title {
    width: 50%;
    padding-left: 50px;
   }

   .table__value {
       width: 50%;
       color: hsl(14, 45%, 36%);
       font-weight: bold;
   }

   .attribution {
       font-size: 11px;
       text-align: center;
   }

   .attribution a {
       color: hsl(228, 45%, 44%);
   }